.ig{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.igg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.metabutti{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 80px;
    background: white;
    font-weight: 900;
    color: #000;
    border-radius: 15px;
    font-family: 'Six Caps', sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.igp{
    width: 75%;
    color: #FFF;
text-align: center;
font-family: 'Six Caps', sans-serif;
font-size: 62px;
font-style: normal;
font-weight: 400;
line-height: normal;
}