
  .openedM-nav-close{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
}

.mod-h1{
    font-size: 40px;
    font-family: 'Six Caps', sans-serif;
    font-weight: 900;
}
.modP{
    font-family: 'Bebas Neue', sans-serif;  
    font-size: 20px;

}