.footer{
    /* margin-top: 30px; */
    background-color: white;
    overflow: hidden;
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 10px 50px; */
    justify-content: center;
    font-weight: 600;
}
.foot-top{
    padding-top:50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    justify-content: space-between;
}
.ft-left{
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-around;
    gap:30%;
    width: 27%;
    padding-left: 95px;
}
.ft-right{
    padding-right:170px;
}

.foot-bot{
    /* height: 40vh; */
    align-self: center;
    /* mix-blend-mode: multiply; */
    height: 470px;
    
    justify-content: baseline;
}
.foot-bot img{
    width: 100%;
    height:550px;
    /* object-fit: cover; */
    /* padding-bottom: 100px ; */
}
