.cricket{
    background-image: url(../../assets/cricBack.jpg);
    background-size: auto 1200px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    gap:3%;
}
.cric-head{
    color: #FFF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 182px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cric2{
    background-color: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 20%;
    gap:10px;
    border-radius: 20px;
}
.cric2 h3{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cric-stat{
    gap:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cric-score{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.c-name{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.run{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.over{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cric-vs{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.g3{
    width: 80%;
    gap: 20px;
}
.g-butt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 40px;
    width: 50%;
    font-size: 25px;
    text-align: center;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}
.g-butt button{
    width: 100px;
    background-color: green;
    border-radius: 5px;
}
.rewardC{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
    font-size: 20px;
    width: 150px;
    background-color: rgb(0, 47, 128);
    border-radius: 5px;
}
.g-sub{
    display: flex;
    align-items: center;
}
.g-sub button{
    align-items: center;
    height: 43px;
    width: 100px;
    font-size: 20px;
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-right: 20px;
}
.g-sub input{
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

.g3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.g4{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10%;
}
.g4 h2{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: normal;
    text-align: center;
}
.g-rules{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 35px;
}
.g-rules li{
    list-style-type: disc;
}
.g-rules span{
    color:red;
}
.g-loan div{
    display: flex;
    align-items: center;
}
.g-loan{
    align-self: baseline;
}

.g-loan button{
    align-items: center;
    height: 40px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: green;
    border-radius: 5px;
    margin-left:10px;
}
.g-loan p{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.g-loan input{
    margin-right:10px;
    height: 39px;
    border-radius: 5px;
    text-align: center;
}